<div class='contact-us-container' id= 'contact'>
    <h1>CONTACT US</h1>
    <div class='contact-us'>
        <div class='contact'>
            <fa-icon [icon]="faGlobe" size="lg" text="www.flochemindia.com" ></fa-icon>
            <fa-icon [icon]="faAddressCard" size="lg" text=' B-107, Lotus Regency CHS Ltd, Bhayander (E), Thane- 401105'></fa-icon>
            <fa-icon [icon]="faEnvelope" size="lg " text='info.flochem@gmail.com, contact@flochemindia.com'></fa-icon>
            <fa-icon [icon]="faPhone" size="lg" text='+91 8850411163 / 7977563195'></fa-icon>


        </div>
    </div>
</div>