<div id= 'contact-dummy'>
<div class='contact-us-container' id= 'contact'>
    <h1 class="heading">CONTACT US</h1>
    <div class='contact-us'>
        <div class="qr-code">
            <img src="assets/images/contact.png">
            <h2>Scan to Save</h2>
        </div>
        <div class='contact'>
            <h1>FLOCHEM</h1>
            <fa-icon [icon]="faAddressCard" size="lg" text=' B-107, Lotus Regency, Goddev, Bhayander (E), Thane- 401105'></fa-icon>
            <fa-icon [icon]="faEnvelope" size="lg " text='contact@flochemindia.com,info.flochem@gmail.com'></fa-icon>
            <fa-icon [icon]="faPhone" size="lg" text='+91 8850411163 / 7977563195'></fa-icon>
            <fa-icon [icon]="faGlobe" size="lg" text="www.flochemindia.com" ></fa-icon>
        </div>
    </div>
</div>