.main-content{
    max-width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    ::ng-deep
    .image-slider-container{
        height: 300px !important;
    }
    ::ng-deep .ng-image-slider{
        height: 300px !important;
    }
    ::ng-deep  .main{
    height: 300px !important;
}
.main-content{
    margin: 10px;
}
    
}

