<app-header></app-header>
<div class="image-slider-container" style="width: 100%; height: 500px; text-align:center;margin:0; padding:0;">
    <ng-image-slider [images]="imageObject" [infinite]="true" [autoSlide]="1" [imageSize]="{width: '100%', height: 500}"
        slideImage="1" [animationSpeed]='2'></ng-image-slider>
</div>
<div class='main-content'>
    <app-about-us></app-about-us>
    <app-products></app-products>
    <app-contact-us></app-contact-us>
</div>
<!-- <app-footer></app-footer> -->