<div id=products>
    <h1>BUSINESS &amp; PRODUCTS</h1>
    <div class='products-container'>
        <div class='card-wrapper' *ngFor='let data of productslist'>
            <div class="card transition">
                <h2 class="transition">{{data.name}}</h2>
                <p class='desc'>{{data.desc}}</p>
                <div class="card_circle transition {{data.path}}">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="card1 bounce " *ngFor='let product of products'>
            <div class="arrow bounce"></div>
            <div class="card__content">
                <p>{{product.desc}}</p>
            </div>
            <span class="i-quote"></span>


        <div class="card__overlay card__overlay--1"></div>
        <div class="card__overlay card__overlay--2"></div>
        <div class="card__overlay card__overlay--3"></div>
        <h1>{{product.name}}</h1>

        </div>
    </div>
</div>