<div id=products-dummy></div>
<div id=products>
    <h1 class="heading">BUSINESS &amp; PRODUCTS</h1>
    <div class="wrapper">
        <div class="card1 bounce " *ngFor='let product of products' (click)="showDeatils(product.id,true)">
            <div class="arrow bounce"></div>
            <div class="card__content">
                <p>{{product.sd}}</p>
                <button class="btn">Click for more details</button>
            </div>


        <div class="card__overlay card__overlay--1"></div>
        <div class="card__overlay card__overlay--2"></div>
        <div class="card__overlay card__overlay--3"></div>
        <h1>{{product.name}}</h1>

        </div>
    </div>
    <div class='products-container'>
        <div class='card-wrapper' *ngFor='let data of productslist'>
            <div class="card transition">
                <h2 class="transition">{{data.name}}</h2>
                <!-- <p class='desc'>{{data.desc}}</p> -->
                <ul class="list">
                    <li *ngFor="let list of data.items">{{list}}</li>
                </ul>
                <button class="btn" (click)="showDeatils(data.id,false)">Click here for more details</button>
                <div class="card_circle transition {{data.path}}">
                </div>
            </div>
        </div>
        <!-- <div class="flip-card" *ngFor='let data of productslist'>
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                {{data.desc}}
              </div>
            </div>
          </div> -->
    </div>
</div>

<div id='details'>
    <div class="product-image">
        <img src="{{productImage}}"/>
        
    </div>
    <div class="product-detail">
        <h2>{{productName}}</h2>
        {{productDetail}}
    </div>
</div>