body{
    box-sizing: border-box;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #8B008B;
}
a{
    cursor: pointer;
}
ul{
    list-style-type: none;
}

@media screen and (max-width: 480px) {
    h1, h2, h3, h4, h5, h6 {
       font-size: 22px;
    }
}
h1.heading{
    background: -webkit-linear-gradient(top left, #FFFFFF, #8B008B);
background: -moz-linear-gradient(top left, #FFFFFF, #8B008B);
background: linear-gradient(to bottom right, #FFFFFF, #8B008B);
color:#000
}

