<div id="about">
    <h1>WELCOME TO THE WORLD OF FLOCHEM</h1>
    <div class="about-us-content">
        <p>
        Flochem was founded in India by 3 environmental enthusiasts as a chemical company intended to assist clients in their path to achieve a working model wherein the industrial waste water can be reused efficiently without harming the environment and thus conserving huge amount of water. Today Flochem has emerged as one of the market leaders in water treatment chemicals and requisite spare parts for machines involved in the same.
Some of our major products include customized Polyacrylamide based on requirement for different industrial sectors, Polyurethane products and Flocculant dosing systems. Our major strength is the timely and effective service provided by us which helped inculcate trust in our clients for Flochem.</p>

        </div>
    <!-- <ul class="wc-table">
        <li>
            <div class="single-wc-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <span class="icon one">
                    <img src="assets/images/about_icon1.png" class="rotate1"></span>
                <h4 class="wc-tittle">
                </h4>
                <p>
                    i-CHESS is a custom manufacturer of specialty and fine chemical intermediates and
                    caters to niche markets. i-CHESS also offers selected natural products
                </p>
            </div>
        </li>
        <li>
            <div class="single-wc-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <span class="icon two">
                    <img src="assets/images/about_icon2.png" class="rotate1"></span>
                <h4 class="wc-tittle">
                </h4>
                <p>
                    We love to make molecules that are not commonly made and require "intelligent chemical
                    solutions".</p>
            </div>
        </li>
        <li>
            <div class="single-wc-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <span class="icon three">
                    <img src="assets/images/about_icon3.png" class="rotate1"></span>
                <h4 class="wc-tittle">
                </h4>
                <p>
                    We carry out research and development as well as production in India. Our customers
                    are based predominantly in – but not limited to - the western world.
                </p>
            </div>
        </li>
        <li>
            <div class="single-wc-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <span class="icon four">
                    <img src="assets/images/about_icon4.png" class="rotate1"></span>
                <h4 class="wc-tittle">
                </h4>
                <p>
                    Our customers are both small and mid-sized companies, as well as large multinational
                    organisations. We are happy to serve the global chemical community!</p>
            </div>
        </li>
    </ul> -->
</div>