<div id="about">
    <h2>WELCOME TO THE WORLD OF FLOCHEM</h2>
    <ul class="wc-table">
        <li>
            <div class="single-wc-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <span class="icon one">
                    <img src="assets/images/about_icon1.png" class="rotate1"></span>
                <h4 class="wc-tittle">
                </h4>
                <p>
                    i-CHESS is a custom manufacturer of specialty and fine chemical intermediates and
                    caters to niche markets. i-CHESS also offers selected natural products
                </p>
            </div>
        </li>
        <li>
            <div class="single-wc-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <span class="icon two">
                    <img src="assets/images/about_icon2.png" class="rotate1"></span>
                <h4 class="wc-tittle">
                </h4>
                <p>
                    We love to make molecules that are not commonly made and require "intelligent chemical
                    solutions".</p>
            </div>
        </li>
        <li>
            <div class="single-wc-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <span class="icon three">
                    <img src="assets/images/about_icon3.png" class="rotate1"></span>
                <h4 class="wc-tittle">
                </h4>
                <p>
                    We carry out research and development as well as production in India. Our customers
                    are based predominantly in – but not limited to - the western world.
                </p>
            </div>
        </li>
        <li>
            <div class="single-wc-content wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <span class="icon four">
                    <img src="assets/images/about_icon4.png" class="rotate1"></span>
                <h4 class="wc-tittle">
                </h4>
                <p>
                    Our customers are both small and mid-sized companies, as well as large multinational
                    organisations. We are happy to serve the global chemical community!</p>
            </div>
        </li>
    </ul>
</div>